.title {
    font-size: 5.5vw;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}
@media (max-width: 900px) and (min-width: 800px) {
    .header {
      justify-content: space-evenly;
      height: 25vh;
    }
    .title {
      font-size: 10vw;
    }
  }
  
  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .search {
    width: 43%;
  }
  
  .select {
    width: 43%;
  }

  @media (max-width: 800px) {
    .title {
        font-size: 8vw;
      }
  }